<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="index.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D"></script>
</head>
<body>
  <div id="counter">
    <div class="container">
      <h2>店舗人数カウンター</h2>
      <div>男性の最大人数：{{ maleMax }}</div>
      <input v-model="maleMax" type="number">
      <br>
      <div>女性の最大人数：{{ femaleMax }}</div>
      <input v-model="femaleMax" type="number">
      <div class="small">(※ボタンを押す際は、ダブルタップしないでください)</div>

      <br>
      <h3>男性:{{ maleCounter }}名</h3>
      <button class="btn btn-primary btn-lg mx-auto button" @click="maleCounter += 1">+</button>
      <button  class="btn btn-primary btn-lg mx-auto button" @click="maleCounter -= 1">-</button>
      <div v-if="isExceedMaleLimit">
        <span class="warning">{{ maleMax }}名を超えました</span>
      </div>

      <br>
      <h3>女性:{{ femaleCounter }}名</h3>
      <button class="btn btn-primary btn-lg mx-auto button" @click="femaleCounter += 1">+</button>
      <button  class="btn btn-primary btn-lg mx-auto button" @click="femaleCounter -= 1">-</button>
      <div v-if="isExceedFemaleLimit">
        <span class="warning">{{ femaleMax }}名を超えました</span>
      </div>
      <br>
      <h3><p class="row">合計:{{ sum }}名</p></h3>
      <hr>
      LINE:
      <h4 v-if="isExceedLimit"><div class="copyTarget">満席</div></h4>
      <h4 v-else><div class="copyTarget">男{{ availableMale }} 女{{ availableFemale }}</div></h4>
      <button class="copyBtn btn btn-primary btn-lg mx-auto" class="bottom">コピーする</button>
      <div class="small">
        ※このボタンを押せば空き人数がコピーできます<br>LINEに貼り付けてください。
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
  <script type="text/javascript">
    var vm = new Vue({
      el: '#counter',
      data: {
        maleCounter: 0,
        femaleCounter: 0,
        maleMax: 10,
        femaleMax: 10
      },
      methods: {
      },
      computed: {
        availableMale () {
          return this.maleMax - this.maleCounter
        },
        availableFemale () {
          return this.femaleMax - this.femaleCounter
        },
        sum () {
          return this.maleCounter + this.femaleCounter
        },
        isExceedLimit () {
          return (this.maleCounter + this.femaleCounter) >= (this.femaleMax + this.maleMax)
        },
        isExceedMaleLimit () {
          return this.maleCounter > this.maleMax
        },
        isExceedFemaleLimit () {
          return this.femaleCounter > this.femaleMax
        }
      }
    })

    let flag = false;
    document.addEventListener('touchend', event => {
      if (flag) {
        event.preventDefault();
      } else {
        flag = true;
        setTimeout(() => {
          flag = false;
        }, 500);
      }
    }, true);

    function copyText() {
        const $target = document.querySelector('.copyTarget');
        if (!$target) {
          return false;
        }
        const range = document.createRange();
        range.selectNode($target);
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(range);
        document.execCommand('copy');
        alert('コピーしました。');
        return false;
      }
    document.querySelector('.copyBtn').addEventListener('click', copyText, false);
  </script>
</body>
</html>
