<html>
  <head>
   <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D"
      crossorigin="anonymous"></script>

    <div id="counter">
      <div class="container">
        <h2>
          店舗人数カウンター
        </h2>
        <p>
           男性の最大人数：{{male_max}}
          <br><input v-model="male_max" placeholder="0" type="number">
        <br>
        女性の最大人数：{{female_max}}
        <br><input v-model="female_max" placeholder="0" type="number">
        </p>
        <div class="small">
           (※ボタンを押す際は、ダブルタップしないでください)
        </div>


      <div class="countainer">
        <br>
        <h3><p>男性:{{ male_counter }}名</p></h3>
        <button class="btn btn-primary btn-lg mx-auto" style="width: 150px;" @click="male_counter += 1">+</button>
        <button  class="btn btn-primary btn-lg mx-auto" style="width: 150px;" @click="male_counter -= 1">-</button>

        <br>
        <span v-if="male_counter > male_max">
          <font color="red" class="lead">{{male_max}}名を超えました</font>
        </span>
      </div>



      <div class="countainer">
        <br>
        <h3><p>女性:{{ female_counter }}名</p></h3>
        <button class="btn btn-primary btn-lg mx-auto" style="width: 150px;" @click="female_counter += 1">+</button>
        <button  class="btn btn-primary btn-lg mx-auto" style="width: 150px;" @click="female_counter -= 1">-</button>
        <br>
        <span v-if="female_counter > female_max">
          <font color="red" class="lead">{{female_max}}名を超えました</font>
        </span>
     </div>
    
      <br>
      <h3><p class="row">合計:{{ male_counter + female_counter }}名</p></h3>

      <!-- もし男女ともに満席以上なら満席と表示する -->
      
      <br>
      <h4 v-if="(male_counter + female_counter) >= (female_max + male_max) ">LINE:満席</h4>
      <h4 v-else>LINE:男{{male_max - male_counter}}女{{female_max - female_counter}}</h4>

      <p class="copyTarget">コピーしてもらいたいテキスト</p>
      <button class="copyBtn">クリップボードにコピーする</button>

    </div>
   </div>


    <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
    <script type="text/javascript">

     let flag = false;
      document.addEventListener('touchend', event => {
        if (flag) {
          event.preventDefault();
        } else {
          flag = true;
          setTimeout(() => {
            flag = false;
          }, 500);
        }
      }, true);

        var vm = new Vue({
        el: '#counter',
        data: {
          male_counter: 0,
          female_counter: 0,
          male_max:10,
          female_max:10,
        }
      })


      function copyText() {
          var $target = document.querySelector('.copyTarget');
          if (!$target) {
            return false;
          }
          var range = document.createRange();
          range.selectNode($target);
          window.getSelection().removeAllRanges();
          window.getSelection().addRange(range);
          document.execCommand('copy');
          return false;
        }
      document.querySelector('.copyBtn').addEventListener('click', copyText, false);
    </script>

  </body>
</html>